<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Booking | Payment</title>
    <link rel="icon"  href="img/Hotel-Booking.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="public/css/favicon.ico">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Rooms Available</h1>
          <% if(index == 1) {  %>
          <form>
            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlbW5FyA9BzTcK" async></script>
          </form>
          <% } %>
            <!-- button for hotel 2 -->
          <% if(index == 2) {  %>
            <form ><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlbZ4zJBmcbOKm" async> </script> </form>
          <% } %>
            <!-- button for hotel 3 -->
            <% if(index == 3) {  %>
            <form ><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlbbBCXjWnx4Fx" async> </script> </form>
          <% } %>
            <!-- button for hotel 4 -->
          <% if(index == 4) {  %>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Jlbcvg6UKYzYh4" async> </script> </form>
          <% } %>
          <!-- button for hotel 5 -->
          <% if(index == 5) {  %>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlbevVbphv6QA0" async> </script> </form>
          <% } %>
          <!-- <form>
            <script src="https://checkout.razorpay.com/v1/checkout.js" data-payment_button_id="pl_JjpFufmjKMMgnD" async></script>
          </form> -->
          <!-- <button  class="btn btn-primary" id="rzp-button1">Click To Pay</button> -->
        </div>
    </div>
</body>
</html>
<script type = "text/javascript" >  
  function preventBack() { window.history.forward(); }  
  setTimeout("preventBack()", 0);  
  window.onunload = function () { null };  
</script>